/*=====================================
ORDERLY with AngularJS
Author: Camillo Fana and Fabio Monzani
======================================*/

/* Gestione SIDEBAR ==================*/

body {
   overflow-x: hidden;
   font-family: 'Montserrat', sans-serif; /*Font override to Montserrat*/
}

.login {
  background-color: #45B7D3 !important;
}

/* Toggle Styles */

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled {
   padding-left: 250px;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   left: 250px;
   width: 0;
   height: 100%;
   margin-left: -250px;
   overflow-y: auto;
   background: #363636;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
   width: 250px;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.sidebar-nav li {
   /*text-indent: 40px; Distanza dal bordo per gli elementi del menu*/
   line-height: 80px;
   text-transform: uppercase;
   text-align: center;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #fff;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
   margin: 20px 20px 0px 20px;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

.navbar {
  background: none; /* Rende la navbar trasparente */
  border: none;
}

@media(min-width:768px) {
   #wrapper {
       padding-left: 0;
   }

   #wrapper.toggled {
       padding-left: 250px;
   }

   #sidebar-wrapper {
       width: 0;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 250px;
   }

   #page-content-wrapper {
       padding: 20px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
   }
}
/* Custom Classes and ID =============*/

.btn-info {
  background-color: #45B7D3 !important;
  border-color: none !important;
}

.orderlyblue { /* For materialize css */
  background-color: #45B7D3 !important;
}


/*Base CSS 15 Mar 2017 ===============*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
.wrapper{
min-height: 960px;
}
form#empForm, form#editForm {
padding: 0 35px 15px;
}
label.gender {
padding-top: 0 !important;
}
table tr th{
    background: #f8f8f8;
}
.search-box {
    padding-bottom: 0;
}
@media screen and (max-width: 368px){
.wrapper{
    min-width: 340px;
}
}
