<!DOCTYPE html>
<html ng-app="MyApp">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<title></title>

		<!-- Path to Framework7 material CSS theme styles-->
		<link rel="stylesheet" href="bower_components/framework7/dist/css/framework7.material.css">
		<!-- Path to Framework7 material related color styles -->
		<link rel="stylesheet" href="bower_components/framework7/dist/css/framework7.material.colors.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/style.css">
		<!-- Include Framework7 icons -->
		<link rel="stylesheet" href="css/framework7-icons.css">
		<!-- Scripts -->
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/framework7/dist/js/framework7.js"></script>
		<script type="text/javascript" src="js/config.js"></script>
		<script type="text/javascript" src="js/service/InitService.js"></script>
		<script type="text/javascript" src="js/controller/IndexPageController.js"></script>
		<script type="text/javascript" src="js/controller/ProductPageController.js"></script>
		<script type="text/javascript" src="js/controller/UserPageController.js"></script>

	</head>
	<body>
		<div class="statusbar-overlay"></div>
		<div class="panel-overlay"></div>
		<!-- Left panel with reveal effect -->
		<div class="panel panel-left panel-reveal">
			<div class="content-block">
				<p><a href="#detailsPage" class="close-panel">Products</a></p>
				<p><a href="#">Providers</a></p>
				<p><a href="#">Orders</a></p>
				<p><a href="#usersPage">Users</a></p>
				<p><a href="#">Logout</a></p>
			</div>
		</div>
		<div class="views">
			<div class="view view-main">

				<!-- Navbar -->
				<div class="navbar">
					<div class="navbar-inner">
						<div class="center sliding"><!-- Gesu Cristo --></div>
						<div class="right">
							<a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
						</div>
					</div>

					<div class="navbar-inner cached" data-page="detailsPage">
						<div class="left sliding">
							<a href="index" class="link back">
								<i class="icon icon-back"></i><span>Back</span>
							</a>
						</div>
						<div class="center sliding">Detail page</div>
						<div class="right">
							<a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
						</div>
					</div>
				</div>

				<!-- Pages -->
				<div class="pages navbar-through toolbar-through">

					<!-- Page 1 -->
					<div data-page="index" class="page" ng-controller="IndexPageController">
						<!-- Page content-->
						<div class="page-content">

							<!-- Table to show order list -->
							<table class="table table-hover">

								<div class="content-block">
									<div class="row no-gutter">
										<div class="col-25">ORDER ID </div>
										<div class="col-25">PROVIDER </div>
										<div class="col-25">SENDER </div>
										<div class="col-25">CREATOR </div>
									</div>
								</div>

								<div class="list-block">
									<ul ng-repeat="detail in details">
										<li class="item-content">
											<div class="item-inner">
												<div class="item-title"><a href="#" data-popup=".popup-about" class="open-popup" ng-click="orderDetail(detail); orderDetailTitolo(detail)">{{detail.OrderNumber}}</a></div>
												<div class="item-title">{{detail.name}}</div>
												<div class="item-title">{{detail.sender}}</div>
												<div class="item-title">{{detail.user_name}}</div>
											</div>
										</li>
									</ul>
								</div>
							</table>
						</div>
						<!-- About Popup -->
						<div class="popup popup-about" ng-controller="IndexPageController">
							<div class="view navbar-fixed">
								<div class="pages">
									<div class="page">
										<div class="navbar">
											<div class="navbar-inner">
												<div class="center" ng-repeat="Tdetail in Tdetails">{{Tdetail.OrderNumber}}
													&nbsp;{{Tdetail.name | uppercase}}</div>
												<div class="right">
													<a href="#" class="link close-popup">Done</a>
												</div>
											</div>
										</div>
										<div class="page-content">
											<div class="content-block">

												<div ng-repeat="Tdetail in Tdetails">

													<table class="table table-hover">
														<tr >
															<th>Product</th>
															<th>Ammount</th>
														</tr>
														<tr ng-repeat="Odetail in Odetails| filter:search_query">
															<td>{{Odetail.name}}</td>
															<td>{{Odetail.ammount}}  {{Odetail.unit}}</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Page 1 -->
					<!-- Page 2 -->
					<div data-page="detailsPage" class="page cached" ng-controller="ProductPageController">
						<!-- Page content-->
						<div class="page-content">
							<!-- Start Products Page Angular content -->
							<table class="table table-hover">
								<tr>
									<th>id</th>
									<th>provider</th>
									<th>name</th>
									<th>stored</th>
									<th>unit</th>
									<th>description</th>
									<th>pcode</th>
									<th>packageN</th>
									<th>Min Stored</th>
									<th>mode</th>
									<th>hide</th>
								</tr>
								<tr ng-repeat="detail in details| filter:search_query">
									<td>{{detail.id}}</td>
									<td>{{detail.provider | uppercase}}</td>
									<td>{{detail.name | uppercase}}</td>
									<td>{{detail.stored}}</td>
									<td>{{detail.unit}}</td>
									<td>{{detail.description}}</td>
									<td>{{detail.pcode}}</td>
									<td>{{detail.packageN}}</td>
									<td>{{detail.MinStored}}</td>
									<td>{{detail.mode}}</td>
									<td>{{detail.hide}}</td>
								</tr>
							</table>
							<!-- End Products Page Angular content -->
						</div>
					</div>
					<!-- End Page 2 -->

					<!-- Page 3 -->
					<div data-page="usersPage" class="page cached" ng-controller="UserPageController">
						<!-- Page content-->
						<div class="page-content">
							<!-- Start Products Page Angular content -->
							<table class="table table-hover">
								<tr>
									<th>user_id</th>
									<th>user_name</th>
									<th>user_email</th>
									<th>administrator</th>
								</tr>
								<tr ng-repeat="user in users">
									<td>{{user.user_id}}</td>
									<td>{{user.user_name}}</td>
									<td>{{user.user_email}}</td>
									<td>{{user.administrator}}</td>
								</tr>
							</table>
							<!-- End Products Page Angular content -->
						</div>
					</div>
					<!-- End Page 3 -->

				</div>
			</div>
		</div> <!-- Fine view -->



	</body>
</html>
